
.carousel-control-prev-icon {background-image: url("../../public/images/left.svg");}
.carousel-control-next-icon {background-image: url("../../public/images/right.svg");}
.carousel-control-prev-icon,
.carousel-control-next-icon {  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-indicators {width: 0}

.meqale1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.meqale1 img {
    width: 100%;
}
.meqale1 div {
    height: 350px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.meqale1 div h3 {
    font-size: 20px;
    line-height: 25px;
}
.yazi {
    font-size: 14px;
    line-height: 30px;
}
.muellif {
    width: 100%;
    text-align: right;
}


@media only screen and (min-width: 480px) {
.meqale1 div {
    padding: 20px 15px;
}
.meqale1 div h3 {
    font-size: 22px;
}
.yazi {
    font-size: 16px;
}
.meqale1 p:last-child {
    font-size: 18px;
}
}

@media only screen and (min-width: 768px) {
.meqale1 {
    flex-direction: row;
}
.meqale1 img {
    width: 50%;
}
.meqale1 div {
    padding: 20px;
}
}
@media only screen and (min-width: 1200px) {
.meqale1 div h3 {
    font-size: 24px;
}
.yazi {
    font-size: 18px;
}
.meqale1 p:last-child {
    font-size: 20px;
}
}